<!DOCTYPE html>
<!-- Footer -->
<html lang="en-us">

<head>
	<meta charset="utf-8">
 	<!--CSS Style Sheet-->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
</head>

<body>
    <div>

        <footer>
	    	<div class="wrapper">
	    		<div id="footer-info">
	    			<p>Copyright 2017 Withstand. All rights reserved.</p>
	    			<p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
	    		</div>
	    		<div id="footer-links">
	    			<ul>
	    				<li><h5>Company</h5></li>
	    				<li><a href="index.html#primary-content">About Us</a></li>
	    				<li><a href="index.html#features">Testimonials</a></li>
	    				<li><a href="blogPage.html">Blog</a></li>
	    				<li><a href="contactAdministrator.html">Contact an Administrator</a></li>
	    				<li><a href="resources.html">Resources</a></li>
	    			</ul>
	    			<ul>
	    				<li><h5>Contact Us</h5></li>
	    				<li>Phone Number:<br>641-XXX-XXXX</li>
	    				<li>Email: fhs.gwc@gmail.com</a></li>
	    			</ul>
	    		
	    		</div>
	    		<div class="clear"></div>
	    	</div>
	    </footer>
    </div>

</body>
</html>