<!DOCTYPE html>
<!-- Header -->
<html lang="en-us">

<head>
    <meta charset="utf-8">
     <!--CSS Style Sheet-->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
</head>

<body>
    <span class= "Header">
        <header>
        	<div class="wrapper">
        		<a href="index.html"><h1>Withstand<span class="color">.</span></h1></a>
        		<nav>
        			<ul>
        				<li><a href="resources.html">Resources</a></li>
                        <li><a href="contactAdministrator.html">Contact an Administrator</a></li>
                        <li><a href="blogPage.html">Blog</a></li>
                        <li><a href="login.html">Sign Up</a></li>
        			</ul>
        		</nav>
        	</div>
        </header>
    </span>

</body>
</html>